<template>
  <div class="search">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
    <v-container>
      <v-snackbar v-model="snackbar" :timeout="3000" top color="success">
        <span>{{message}}</span>
      </v-snackbar>
      <v-text-field
        solo
        label="Search by songs"
        flat
        outline
        color="white"
        dark
        v-model="searchString"
        required
        v-on:keyup.enter="search"
      ></v-text-field>
      <h1 class="title mb-3 white--text">Results</h1>
      <v-list-tile
        class="px-3 py-2 tile" 
        v-for="track in results" 
        :key="track.id" 
      >
        <v-list-tile-action>
          <v-icon dark>music_note</v-icon>
        </v-list-tile-action>
        <v-list-tile-content v-if="track.status != '-1'">
          <v-list-tile-title class="white--text subheading">{{track.title}}</v-list-tile-title>
          <v-list-tile-sub-title class="white--text font-weight-light">{{track.artist.name}}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-content v-if="track.status != '0'">
          <v-list-tile-title class="grey--text subheading">{{track.title}}</v-list-tile-title>
          <v-list-tile-sub-title class="grey--text font-weight-light">{{track.artist.name}}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-btn depressed round outline dark @click="AddToPlaylist(track)">add</v-btn>
        </v-list-tile-action>
      </v-list-tile>
    </v-container>
  </div>
</template>

<script>
import { url } from '../config.js' 

export default {
  data(){
    return{
    searchString: '',
    results: [],
    message : '',
    snackbar: false,
    loading: false
    }
   },
   methods: {
    search(){
      if(this.searchString.length !=0){
        var that = this
        this.loading = true
        that.results = []
        this.$http.get(url + 'api/song/search?title=' + that.searchString, {
        crossDomain: true})
        .then(function(response){
          that.loading = false
          if(response.data.data.length != 0){
            response.data.data.forEach(item => {
              if(item.status == 0)
                that.results.push(item)
            })
          }
          else{
            that.snackbar = true
            that.message = 'No results found for "' + that.searchString + '"'
            that.results = []
          }
        })
      }
      else{
        this.results = []
        this.message = ''
      }
    },
    AddToPlaylist(track){
      var that = this
      var bodyFormData = new FormData()
      bodyFormData.set('id_playlist', this.$store.getters.dummy_id)
      bodyFormData.set('id_song', track.id)

      this.$http.post(url + 'api/add/song/playlist', bodyFormData,
      {headers: {'Accept': 'application/json'}}, {crossDomain: true})
      .then(function(response){
        if(response.data.message == 'Song sudah tersedia di dalam playlist')
          that.message = 'Song already in your playlist'
        else
          that.message = 'Song has been added to your playlist'
        that.snackbar = true
      })
      .catch(err => console.log(err))
    }
   }
}
</script>

