<template>
  <div class="artist">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
    <v-container>
      <v-layout wrap row>
        <v-flex class="xs6 md4">
          <v-responsive>
            <v-avatar size="180" class="mx-5 mb-4">
              <v-img :src="image" alt="lorem" aspect-ratio="1">
            </v-img>
          </v-avatar>
          </v-responsive>
        </v-flex>
        <v-flex class="xs6 md4">
          <div class="display-1 mt-5 white--text">{{artist_name}}</div>
        </v-flex>
      </v-layout>
      <v-subheader class="title mx-2 white--text">Artist Songs</v-subheader>
      <v-list class="transparent">
        <v-list-tile
          class="px-3 py-1 tile" 
          v-for="track in results" 
          :key="track.id"
          avatar
          @click="selectTrack(track)"
          :class="[{selected: track === selectedTrack}]"
        >
          <!-- styling song list -->
          <v-layout align-center justify-end row fill-height>
            <v-flex class="md10">
              <v-layout row wrap>
                <v-flex class="md1">
                  <v-list-tile-action>
                    <v-icon dark>music_note</v-icon>
                  </v-list-tile-action>
                </v-flex>
                <v-flex class="md11">
                  <v-list-tile-content v-if="track.status != '-1'">
                    <v-list-tile-title class="white--text subheading">{{track.title}}</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-content  v-if="track.status != '0'">
                    <v-list-tile-title class="grey--text subheading">{{track.title}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex class="md2">
              <v-layout row>
                <v-flex class="md2">
                  <v-tooltip left>
                  </v-tooltip>
                  </v-flex>
                <v-flex class="md6 text-xs-center ">
                  <v-icon dark small>headset</v-icon>
                  <span class="white--text body-1 font-weight-light">{{track.playcount}}</span>
                </v-flex>
                <v-flex class="md4">
                  <span class="white--text body-1 font-weight-light">03:20</span>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-list-tile>
      </v-list>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'
import { url } from '../config.js'

export default {
   data(){
    return{
      results: [],
      allResults: [],
      artist_name: '',
      image: '',
      selectedTrack: null,
      loading: true
    }
   },
  created: function(){
    this.getSong()
  },
  mounted: function(){
    var that = this
    EventBus.$on('background', function(index){
      that.selectedTrack = that.results[index]
    })
  },
  methods: {
    selectTrack(track) {
      this.selectedTrack = track
      EventBus.$emit('selectinplaylist', track, this.results)
    },
    getSong(){
      this.$http.get(url + 'api/song/artist/' + this.$store.getters.dummy_id , 
      {crossDomain: true}).then( ({ data }) => {
        this.loading = false
        this.artist_name = data.data[0].artist.name
        this.image =  data.data[0].artist.image

        this.allResults = data.data
        this.allResults.forEach((item)=> {
          if(item.status == 0){
            this.results.push(item)
          }
        })
      })
    },
  }
}
</script>

