<template>
  <div>
    <v-progress-linear
      v-if="loading"
      height="2"
      :indeterminate="true"
      color="white"
      class="mb-2"
    ></v-progress-linear>
    <v-alert
      v-model="alert"
      :type="alertState"
      dismissible
      :color="snackColor"
    >
      {{message}}
    </v-alert>
    <v-container fluid ma-0 pa-0 fill-height>
      <v-responsive>
         <v-layout align-center justify-center fill-height>
            <v-flex xs10 md5>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                class="black transparan py-4 px-5"
              >
                <h1 class="white--text text-xs-center mb-4">Change password</h1>
                <v-text-field
                  v-model="current_password"
                  counter
                  :rules="current_passwordRules"
                  label="Current password"
                  required
                  outline
                  solo
                  dark
                  color="white"
                  class="mt-1"
                  :append-icon="current_password_show ? 'visibility' : 'visibility_off'"
                  :type="current_password_show ? 'text' : 'password'"
                  @click:append="current_password_show = !current_password_show"
                ></v-text-field>

                <v-text-field
                  v-model="new_password"
                  counter
                  :rules="new_passwordRules"
                  label="New password"
                  required
                  outline
                  solo
                  dark
                  color="white"
                  class="mt-1"
                  :append-icon="new_password_show ? 'visibility' : 'visibility_off'"
                  :type="new_password_show ? 'text' : 'password'"
                  @click:append="new_password_show = !new_password_show"
                ></v-text-field>

                <v-text-field
                  v-model="confirm_new_password"
                  counter
                  :rules="confirm_new_passwordRules"
                  label="New password confirmation"
                  required
                  outline
                  solo
                  dark
                  color="white"
                  class="mt-1"
                  :append-icon="confirm_new_password_show ? 'visibility' : 'visibility_off'"
                  :type="confirm_new_password_show ? 'text' : 'password'"
                  @click:append="confirm_new_password_show = !confirm_new_password_show"
                ></v-text-field>

                <v-btn @click="cancel" class="white--text" outline round>cancel</v-btn>

                <v-btn
                  :disabled="!valid"
                  color="success"
                  @click="validate"
                  class="purplepink white--text" 
                  round
                >
                  submit
                </v-btn>
              </v-form>
            </v-flex>
          </v-layout>
      </v-responsive>
    </v-container>
  </div>
</template>

<script>
  import { EventBus } from '../event-bus.js'
  import { url } from '../config.js'
  
  export default {
    data: () => ({
      current_password_show: false,
      new_password_show: false,
      confirm_new_password_show: false,
      
      message: '',
      alert: false,
      alertState: 'success',
      valid: true,
      current_password: '',
      current_passwordRules: [
        v => !!v || 'Current password is required'
      ],
      new_password: '',
      new_passwordRules: [
        v => !!v || 'New password is required',
        v => (v && v.length >= 6) || 'New password must be least 6 characters'
      ],
      confirm_new_password: '',
      confirm_new_passwordRules: [
        v => !!v || 'Password confirmation is required'
      ],
      loading: false
    }),
    methods: {
      cancel(){
        this.$router.push('/profile')
      },
      validate () {
        if (this.$refs.form.validate()) {        
          if(this.new_password != this.confirm_new_password){
              this.reset()
              this.snackColor = '#db3b21'
              this.alert = true
              this.alertState = 'error'
              this.message = 'Sorry, you must provide a valid password confirmation'
            }
            else{
              var that = this
              this.loading = true
              var bodyFormData = new FormData()
              bodyFormData.set('password', that.current_password)
              bodyFormData.set('new_password', that.new_password)
              this.$http.post(url + 'api/change_password/' + this.$store.getters.userId, bodyFormData, 
              {headers: {'Accept': 'application/json'}}, {crossDomain: true})
              .then(function(response){
                that.loading = false
                if(response.data.message == 'Password Lama Salah'){
                  that.message = 'Sorry, you must provide a valid current password'
                  that.snackColor = '#db3b21'
                  that.alertState = 'error'
                  that.alert = true
                  that.reset()
                }
                else{
                  that.message = 'Password changed successfully'
                  that.snackColor = 'success'
                  that.alertState = 'success'
                  that.alert = true
                  that.reset()
                }
              })
            }
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      }
    }
  }
</script>