<template>
  <div class="artist">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
    <v-container>
      <v-snackbar v-model="snackbar" :timeout="3000" top color="success">
        <span>Song was removed from your playlist</span>
      </v-snackbar>
      <v-layout wrap row>
        <v-flex class="xs6 md3 text-xs-center">
          <v-responsive>
            <v-img :src="image_url" alt="lorem" aspect-ratio="1" class="mx-5 mb-4 grey darken-2">
            </v-img>
          </v-responsive>
          <v-btn @click="onPickFile" outline round dark v-if="playlist_title != 'Liked Songs'">Change</v-btn>
          <input
            type="file" 
            style="display:none" 
            ref="fileInput" 
            accept="image/*"
            @change="onFilePicked"
          >
        </v-flex>
        <v-flex class="xs6 md4">
          <div class="display-1 white--text">{{playlist_title}}</div>
          <div class="subheading white--text">By {{user_name}}</div>
          <div class="subheading white--text mt-4">{{songList.length}} songs</div>
          <br>
          <v-btn depressed round outline dark class="mt-2 mx-0" route :to="'/playlist/addsong'">
            <span>Add song</span>
            <v-icon right>add</v-icon>
          </v-btn>
          <DeletePlaylistModal v-if="playlist_title != 'Liked Songs'"/>
        </v-flex>
      </v-layout>
      <v-subheader class="title mx-2 white--text">{{message}}</v-subheader>
      <v-list-tile
        class="px-3 py-2 tile" 
        v-for="track in songList" 
        :key="track.songs.id" 
        :class="[{selected: track === selectedTrack}]"
      >
        <!-- styling song list -->
        <v-layout align-center justify-end row fill-height>
          <v-flex class="md10">
             <v-layout row wrap>
              <v-flex class="md1">
                <v-list-tile-action>
                  <v-icon dark>music_note</v-icon>
                </v-list-tile-action>
              </v-flex>
              <v-flex class="md11">
                <v-list-tile-content @click="selectTrack(track)" v-if="track.songs.status != '-1'">
                  <v-list-tile-title class="white--text subheading">{{track.songs.title}}</v-list-tile-title>
                  <v-list-tile-sub-title class="white--text font-weight-light">{{track.songs.artist.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content @click="selectTrack(track)" v-if="track.songs.status != '0'">
                  <v-list-tile-title class="grey--text subheading">{{track.songs.title}}</v-list-tile-title>
                  <v-list-tile-sub-title class="grey--text font-weight-light">{{track.songs.artist.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-flex>
             </v-layout>
          </v-flex>
          <v-flex class="md2">
            <v-layout row>
              <v-flex class="md2">
                <v-tooltip left>
                  <template v-slot:activator="{ on }">
                    <v-icon v-on="on" dark @click="deleteFromPlaylist(track.songs)">delete</v-icon>
                  </template>
                  <span>Delete</span>
                </v-tooltip>
                </v-flex>
              <v-flex class="md6 text-xs-center ">
                <v-icon dark small>headset</v-icon>
                <span class="white--text body-1 font-weight-light">{{track.songs.playcount}}</span>
              </v-flex>
              <v-flex class="md4">
                <span class="white--text body-1 font-weight-light">03:20</span>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-list-tile>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'
import DeletePlaylistModal from '@/components/DeletePlaylistModal'
import { url } from '../config.js'

export default {
  components: {DeletePlaylistModal},
  data(){
    return{
      playlist : [],
      message :'Your songs',
      playlist_title: '',
      user_name : '',
      selectedTrack: null,
      image: null,
      image_url: '',
      songList: [],
      snackbar: false,
      loading: false
    }
  },
  created: function(){
    this.user_name = this.$store.getters.userName
    this.playlist_title = this.$store.getters.dummy_text
    this.image_url = this.$store.getters.dummy_image
    this.getPlaylistSong()
  },

  mounted: function(){
    var that = this
    EventBus.$on('background', function(index){
      that.selectedTrack = that.playlist[index]
    }),
    EventBus.$on('deletePlaylist', function(){
      this.$http.delete(url + 'api/playlist/delete/' + that.$store.getters.dummy_id,
      {headers: {'Accept': 'application/json'}}, {crossDomain: true})
      .then(function(response){
        that.$router.push('/playlist')
      })
      .catch(err => console.log(err))
    })
  },
  methods: {
    getPlaylistSong(){
      this.loading = true
      this.songList = []
      this.$http.get(url + 'api/playlist/' + this.$store.getters.dummy_id + '/song', 
      {headers: {'Accept': 'application/json'}}, {crossDomain: true}).then( ({ data }) => {
        this.loading = false
        if(data.status){
          data.data.forEach((item)=> {
          if(this.songList.length < 6){
            if(item.songs.status == 0){
              this.songList.push(item)
            }
          }
        })
        }
        else
          this.message=data.message
      })
    },
    selectTrack(track) {
      this.playlist = this.songList
      this.selectedTrack = track
      EventBus.$emit('selectinplaylist', track, this.playlist)
    },
    deleteFromPlaylist(track){
      this.loading = true
      var that = this
      this.$http.delete(url + 'api/playlist/' + this.$store.getters.dummy_id + '/delete/song/' + track.id,
      {headers: {'Accept': 'application/json'}}, {crossDomain: true})
      .then(function(response){
        that.loading = false
        that.snackbar = true
        that.getPlaylistSong()
      })
      .catch(err => console.log(err))
    },
    onPickFile (){
      this.$refs.fileInput.click()
    },
    onFilePicked (event) {
      const files = event.target.files
      let filename = files[0].name
      if (filename.lastIndexOf('.') <= 0) {
      return alert('Please add a valid file!')
      }
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
      this.imageUrl = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image = files[0]
      this.imageToUrl()
      
    },
    imageToUrl(){
      var bodyFormData = new FormData()
      bodyFormData.set('images', this.image)  
      const token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjI3N2FlMjZkYTEzODUxYzNmYTA1YTA2Mjk0ZWM3NjVhYjgzYmUwNzUyY2I2ZjJiOGQzMmEzZWRmNDgxODIyMzUxYThiMTM0NDY0OWM2OWFlIn0.eyJhdWQiOiIyMiIsImp0aSI6IjI3N2FlMjZkYTEzODUxYzNmYTA1YTA2Mjk0ZWM3NjVhYjgzYmUwNzUyY2I2ZjJiOGQzMmEzZWRmNDgxODIyMzUxYThiMTM0NDY0OWM2OWFlIiwiaWF0IjoxNTY0NDc1MjU5LCJuYmYiOjE1NjQ0NzUyNTksImV4cCI6MTg4MDA5NDQ1OSwic3ViIjoiOSIsInNjb3BlcyI6W119.VK368t1zrGSRRRJ6FM8LJcMygsTTLAVlINkLhTdIIEwYOPTQjD0NapIA0zy_35ynQroWK19BT-1GiqvMbNPicTDoqNrQqu38JYxBKmhEgB9imxwvrIlQ8CQqpDfALBvM___oAgJiuJbCCaLJpnw1mnxY1QNVvde6Ba19zoufQxoGk_yLd8IFZ_kvMH6o4bzx0thv2-fTi6gdvAph3ui63B-6Aiqfo6etzEy2vopD7Z1Wmzqv9Us_NueJtlMaKqOzBx_HmoNt3w0IL3hILdFXWjafPsaNQ-BQM77XT8wLWiwKcVTzpq1m90t1kf-zk224fdYfetTBkjv-sDCX-u6nYZ9HUXVOE-WYy2oB4IyaYz8spsP3NnjGDj_sbiql9eeaA2opr7W3dQleib7VZyxUPyys1RtGwU8V3JMmPteqG0PB8Z6cppQsP5KuWZDTBuqGWmLA5WlheiQxdpwqASdVh_TPyF6yM3AvxpSMFGZSi6leJj8STwB4ufq3TuXjDzrn96yD2r4HJ3QONubdC1YzhrV2zwhIdS34Hjeo5xjUjkxat4128AukP21DHgSfyINCwh4tA9aMAL-DXlKRxRuVBoqv8wf6jMnGb5k2ecAXOM3MZ11et7kLCk2g4LYCmXYaZzF9dAOQ8d8-X4Y-IUg-CKBhMVpfG9GIeony9T2QELQ'

      this.$http.post('https://www.sariputta.com/api/upload', bodyFormData, 
        {headers: {'Authorization': "Bearer " + token}}, {crossDomain: true})
      .then( ({ data }) => {
        this.image_url = data.data.path
        this.saveImage()

      })
    },
    saveImage(){
      var that = this
      var bodyFormData = new FormData()
      bodyFormData.set('image', this.image_url)
      this.$http.post(url + 'api/edit/playlist/' + this.$store.getters.dummy_id, bodyFormData, 
         {headers: {'Accept': 'application/json'}}, {crossDomain: true})
         .then(function(response){
           that.$store.dispatch('setImage', that.image_url)
         })
    }
  }
}
</script>

