<template>
  <div class="profile">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
    <v-container>
      <v-snackbar v-model="snackbar" :timeout="3000" top color="success">
        <span>{{message}}</span>
      </v-snackbar>
      <v-layout row wrap align-center justify-center>
        <v-flex xs6 sm4 md2 >
          <v-avatar size="150" class="white">
            <v-img :src="image_url" alt="lorem" aspect-ratio="1">
            </v-img>
          </v-avatar>
        </v-flex>
        <v-flex xs6 sm4 md2>
          <v-btn @click="onPickFile" outline round dark>Change</v-btn>
          <input
            type="file" 
            style="display:none" 
            ref="fileInput" 
            accept="image/*"
            @change="onFilePicked"
          >
          <v-progress-circular
            v-if="img_loading"
            :width="3"
            color="white"
            indeterminate
          ></v-progress-circular>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center fill-height>
        <v-flex xs10 md4>
          <form @submit.prevent="validateBeforeSubmit" class="mt-5">
            <v-label dark>Your Email</v-label>
            <v-text-field
              v-model="email"
              v-validate="'required|email'"
              :error-messages="errors.collect('email')"
              label="E-mail"
              data-vv-name="email"
              required
              outline
              solo 
              class="mt-1"
              dark
              color="white"
            ></v-text-field>
            <v-label dark>Your Name</v-label>
            <v-text-field
              v-model="name"
              v-validate="'required|max:30'"
              counter
              :error-messages="errors.collect('name')"
              label="Name"
              data-vv-name="name"
              required
              outline
              solo
              dark
              color="white"
              class="mt-1"
            ></v-text-field>
            <v-btn @click="cancel" class="white--text" outline round>cancel</v-btn>
            <v-btn type="submit" class="purplepink white--text" round>submit</v-btn>
            <!-- <h3 class="white--text pt-2">{{message}}</h3> -->
          </form>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'
  import { EventBus } from '../event-bus.js'
  import { url } from '../config.js'
  
  Vue.use(VeeValidate)

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    data: () => ({
      old_show: false,
      new_show: false,
      id: 0,
      name: '',
      email: '',
      old_password: '',
      new_password: '',
      dictionary: {
        attributes: {
          email: 'E-mail Address'
        }
      },
      image: '',
      message: '',
      image_url: '',
      snackbar: false,
      loading: false,
      img_loading: false
    }),
    created: function(){
      this.name =  this.$store.getters.userName
      this.image_url = this.$store.getters.userImage
      this.email =  this.$store.getters.userEmail
      this.id = this.$store.getters.userId
    },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
    methods: {
      validateBeforeSubmit() {
        this.$validator.validateAll().then((result) => {
          if(result){
          this.loading = true
          var bodyFormData = new FormData()
          bodyFormData.set('email', this.email)
          bodyFormData.set('name', this.name)
          bodyFormData.set('image', this.image_url)
          var that = this
          this.$http.post(url + 'api/profile/update/' + this.id, bodyFormData, 
            {headers: {'Accept': 'application/json'}}, {crossDomain: true})
            .then(function(response){
                that.loading = false         
                if(response.data.message == 'Account Telah di update'){
                  that.$store.dispatch('setUser', response.data.data)
                  that.$router.push('/profile')
                  EventBus.$emit('showSnack')
                }
                else{
                  that.message = response.data.message
                  that.snackbar =  true
                }
            })
            .catch(err => console.log(err))
          }   
        })
      },
      cancel(){
        this.$router.push('/profile')
      },
      onPickFile (){
        this.$refs.fileInput.click()
      },
      onFilePicked (event) {
        const files = event.target.files
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a valid file!')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.image = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
        this.imageToUrl()
      },
      imageToUrl(){
        this.img_loading = true
        var bodyFormData = new FormData()
        bodyFormData.set('images', this.image)  
        const token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjI3N2FlMjZkYTEzODUxYzNmYTA1YTA2Mjk0ZWM3NjVhYjgzYmUwNzUyY2I2ZjJiOGQzMmEzZWRmNDgxODIyMzUxYThiMTM0NDY0OWM2OWFlIn0.eyJhdWQiOiIyMiIsImp0aSI6IjI3N2FlMjZkYTEzODUxYzNmYTA1YTA2Mjk0ZWM3NjVhYjgzYmUwNzUyY2I2ZjJiOGQzMmEzZWRmNDgxODIyMzUxYThiMTM0NDY0OWM2OWFlIiwiaWF0IjoxNTY0NDc1MjU5LCJuYmYiOjE1NjQ0NzUyNTksImV4cCI6MTg4MDA5NDQ1OSwic3ViIjoiOSIsInNjb3BlcyI6W119.VK368t1zrGSRRRJ6FM8LJcMygsTTLAVlINkLhTdIIEwYOPTQjD0NapIA0zy_35ynQroWK19BT-1GiqvMbNPicTDoqNrQqu38JYxBKmhEgB9imxwvrIlQ8CQqpDfALBvM___oAgJiuJbCCaLJpnw1mnxY1QNVvde6Ba19zoufQxoGk_yLd8IFZ_kvMH6o4bzx0thv2-fTi6gdvAph3ui63B-6Aiqfo6etzEy2vopD7Z1Wmzqv9Us_NueJtlMaKqOzBx_HmoNt3w0IL3hILdFXWjafPsaNQ-BQM77XT8wLWiwKcVTzpq1m90t1kf-zk224fdYfetTBkjv-sDCX-u6nYZ9HUXVOE-WYy2oB4IyaYz8spsP3NnjGDj_sbiql9eeaA2opr7W3dQleib7VZyxUPyys1RtGwU8V3JMmPteqG0PB8Z6cppQsP5KuWZDTBuqGWmLA5WlheiQxdpwqASdVh_TPyF6yM3AvxpSMFGZSi6leJj8STwB4ufq3TuXjDzrn96yD2r4HJ3QONubdC1YzhrV2zwhIdS34Hjeo5xjUjkxat4128AukP21DHgSfyINCwh4tA9aMAL-DXlKRxRuVBoqv8wf6jMnGb5k2ecAXOM3MZ11et7kLCk2g4LYCmXYaZzF9dAOQ8d8-X4Y-IUg-CKBhMVpfG9GIeony9T2QELQ'

        this.$http.post('https://www.sariputta.com/api/upload', bodyFormData, 
          {headers: {'Authorization': "Bearer " + token}}, {crossDomain: true})
        .then( ({ data }) => {
            this.img_loading = false
            this.image_url = data.data.path
          })
      }
    }
  }
</script>