<template>
<div class="login concert">
  <v-progress-linear
    v-if="loading"
    height="2"
    :indeterminate="true"
    color="white"
    class="mb-2"
  ></v-progress-linear>
  <v-alert
    v-model="alert"
    type="success"
    dismissible
  >
  {{message}}
  </v-alert>

  <v-container fluid ma-0 pa-0 fill-height>
    <v-responsive>
        <v-layout align-center justify-center fill-height>
          <v-flex xs10 md5>
              <form @submit.prevent="submit" class="black transparan py-4 px-5">
                <h1 class="display-1 white--text text-xs-center mb-3">Forget password</h1>
                <p class="title white--text pt-2">Please confirm your email</p>
              
                <v-text-field
                  v-model="email"
                  :error-messages="errors.collect('email')"
                  label="E-mail"
                  data-vv-name="email"
                  outline
                  solo 
                  class="mt-1"
                  dark
                  color="white"
                  autofocus
                  required
                ></v-text-field>
              <v-btn type="submit" class="white" round>submit</v-btn>
              <p class="purpleNeon--text pt-2">To login page? <a class="white--text" @click="toLogin()">here</a></p>
            </form>
        </v-flex>
        </v-layout>
    </v-responsive>
  </v-container>
</div>
</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'
  import { url } from '../config.js'
  
  Vue.use(VeeValidate)

  export default {
    $_veeValidate: {
      validator: 'new'
    },
    data(){
      return{
        show : false,
        email: '',
        message: '',
        dictionary: {
          attributes: {
            email: 'E-mail Address'
          }
        },
        loading: false,
        alert: false
      }
    },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
    methods: {
      submit() {
        this.$validator.validateAll().then((result) => {
          if(result){
          this.loading = true
          var bodyFormData = new FormData()
          bodyFormData.set('email', this.email)

          var that = this
          this.$http.post(url + 'api/forget_password', bodyFormData, 
            {headers: {'Accept': 'application/json'}}, {crossDomain: true})
            .then(function(response){
              that.loading = false
              that.alert = true
              that.message = response.data.message
              that.email = ''
            })
            // eslint-disable-next-line no-console
            .catch(err => console.log(err))
          }
          })
      },
      toLogin(){
        this.$router.push('/login')
      },
    }
  }
</script>

<style>
  .test {
      opacity: 0.85;
  }
</style>