<template>
  <div class="home">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
      <v-container class="py-2">
        <!-- recentlyplayed -->
        <div class="mb-3" v-if="this.recently.length > 0">
          <span class="title white--text">Recently played</span>
          <v-btn flat router :to="'/recentlyplayed'" class="subheading white--text text-capitalize right ma-0 pa-0">See more</v-btn>
        </div>  
        <v-layout row wrap>
          <v-flex v-for="song in recently" :key="song.songs.id" xs6 sm4 md2 class="px-2" 
            @click="selectTrack(song, recently)"
            :class="[{selected_home: song === selectedTrack}]"
          >
            <v-hover>
              <v-card flat tile class="text-xs-center mt-2" color="transparent" slot-scope="{ hover }" 
              >
                <v-img 
                  :src="song.songs.artist.image"
                  aspect-ratio="1"
                  class="grey darken-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="hoverblack d-flex"
                    >
                    </div>
                  </v-expand-transition>
                </v-img>
                <v-card-text class="pa-0 pt-2">
                  <div class="subheading white--text">{{song.songs.title}}</div>
                  <p class="body-1 white--text font-weight-light">{{song.songs.artist.name}}</p> 
                </v-card-text>
                <!-- <v-card-text class="pt-2" v-if="song.songs.status != '0'">
                  <div class="subheading grey--text">{{song.songs.title}}</div>
                  <p class="body-1 grey--text font-weight-light">{{song.songs.artist.name}}</p> 
                </v-card-text> -->
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
        <!-- recommended -->
        <div class="mb-3" v-if="this.recommended.length > 0">
          <span class="title white--text">Recommended for you</span>
          <v-btn flat router :to="'/recommended'" class="subheading white--text text-capitalize right ma-0 pa-0">See more</v-btn>
        </div>  
        <v-layout row wrap>
          <v-flex v-for="song in recommended" :key="song.songs.id" xs6 sm4 md2 class="px-2">
            <v-hover>
              <v-card flat class="text-xs-center mt-2" color="transparent" slot-scope="{hover}" 
                @click="selectTrack(song, recommended)"
                :class="[{selected_home: song === selectedTrack}]"
              >
                <v-img 
                  :src="song.songs.artist.image"
                  aspect-ratio="1"
                  class="grey darken-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                  
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="hoverblack d-flex"
                    >
                    </div>
                  </v-expand-transition>
                </v-img>
                <v-card-text class="pa-0 pt-2">
                  <div class="subheading white--text">{{song.songs.title}}</div>
                  <p class="body-1 white--text font-weight-light">{{song.songs.artist.name}}</p> 
                </v-card-text>
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
        <!-- top popular -->
        <div class="mb-3">
          <span class="title white--text">Top popular songs</span>
          <v-btn flat router :to="'/popularsongs'" class="subheading white--text text-capitalize right ma-0 pa-0">See more</v-btn>
        </div>  
        <v-layout row wrap>
          <v-flex v-for="song in popular" :key="song.songs.id" xs6 sm4 md2 class="px-2">
            <v-hover>
              <v-card flat class="text-xs-center mt-2" color="transparent" slot-scope="{hover}" 
                @click="selectTrack(song, popular)" 
                :class="[{selected_home: song === selectedTrack}]"
              >
                <v-img 
                  :src="song.songs.artist.image"
                  aspect-ratio="1"
                  class="grey darken-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                  
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="hoverblack d-flex"
                    >
                    </div>
                  </v-expand-transition>
                </v-img>
                <v-card-text class="pa-0 pt-2">
                  <div class="subheading white--text">{{song.songs.title}}</div>
                  <p class="body-1 white--text font-weight-light">{{song.songs.artist.name}}</p> 
                </v-card-text>
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
      </v-container> 
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'
import { url } from '../config.js'

export default {
  data(){
    return{
      popular: [],
      recently: [],
      recommended: [],
      allRecently: [],
      allPopular: [],
      allRecommended: [],
      loading: true,
      selectedTrack: null,
      activeList:[]
    }
  },
  created: function(){
    this.getPopular()
    this.getRecently()
    this.getRecommended()
  },
  computed: {
    getUserId(){
      return this.$store.getters.userId
    }
  },
  mounted: function(){
    var that = this
    EventBus.$on('background', function(index){
      that.selectedTrack = that.activeList[index]
    })
  },
  methods:{
    selectTrack(track, playlist) {
      this.activeList = playlist
      this.selectedTrack = track
      EventBus.$emit('selectinplaylist', track, playlist)
    },
    getPopular(){
      this.$http.get(url + 'api/log/count', {
      crossDomain: true}).then( ({ data }) => {
        this.loading = false
        this.allPopular = data.data
        this.allPopular.forEach((item)=> {
          if(this.popular.length < 6){
            if(item.songs.status == 0){
              this.popular.push(item)
            }
          }
        })
      })
    },
    getRecently(){
      this.$http.get(url + 'api/log/' + this.$store.getters.userId, {
      crossDomain: true}).then( ({ data }) => {
        this.allRecently = data.data
        this.allRecently.forEach((item)=> {
          if(this.recently.length < 6){
            if(item.songs.status == 0){
              this.recently.push(item)
            }
          }
        })
      })
    },
    getRecommended(){
      this.$http.get(url  + 'api/recomendation?userId=' + this.$store.getters.userId, {
      crossDomain: true}).then( ({ data }) => {
        this.allRecommended = data.data
        this.allRecommended.forEach((item)=> {
          if(this.recommended.length < 6){
            if(item.songs.status == 0){
              this.recommended.push(item)
            }
          }
        })
      })
    }
  }
}
</script>
