<template>
  <div class="concert">
    <v-container class="pa-0">
      <v-responsive>
        <v-layout
          fill-height
          align-start
          justify-center 
          pt-5
        >
          <v-flex
            xs10
            md8
          >
            <v-img
              :src="require('@/assets/logo loop/loop_logo.svg')"
              max-height="110"
              max-width="210"
            >
            </v-img>
            <div class="display-1 text-uppercase my-3 white--text font-weight-light">
              Make your music Alive
            </div>
            <v-btn
              class="white"
              large
              round
              route :to="'/login'"
            >
              Login
            </v-btn>
            <v-btn
              round
              large class="purplepink white--text"
              route :to="'/register'" 
            >
              Register
            </v-btn>
          </v-flex>
        </v-layout>
      </v-responsive>
    </v-container>
  </div>
</template>

<script>
export default {
  created: function(){
    // console.log(this.$store.getters.isLoggedIn)
  }
}
</script>




