<template>
<div class="login concert">
  <v-progress-linear
    v-if="loading"
    height="2"
    :indeterminate="true"
    color="white"
    class="mb-2"
  ></v-progress-linear>
  <v-alert
    v-model="alert"
    type="error"
    dismissible
    color="#db3b21"
  >
    {{message}}
  </v-alert>

  <v-container fluid ma-0 pa-0 fill-height>
    <v-responsive>
        <v-layout align-center justify-center fill-height>
          <v-flex xs10 md5>
              <form @submit.prevent="login" class="black transparan py-4 px-5">
                <h1 class="display-1 white--text text-xs-center mb-3">Login</h1>
                <v-label dark>Your email</v-label>
                <v-text-field
                  v-model="email"
                  v-validate="'required'"
                  :error-messages="errors.collect('email')"
                  label="E-mail"
                  data-vv-name="email"
                  required
                  outline
                  solo 
                  class="mt-1"
                  dark
                  color="white"
                  autofocus
                ></v-text-field>
                <v-label dark>Your password</v-label>
                <v-text-field
                  v-model="password"
                  :error-messages="errors.collect('password')"
                  label="Password"
                  data-vv-name="password"
                  required
                  :append-icon="show ? 'visibility' : 'visibility_off'"
                  :type="show ? 'text' : 'password'"
                  @click:append="show = !show"
                  outline
                  solo
                  dark
                  color="white"
                  class="mt-1"
                ></v-text-field>
              <v-btn type="submit" class="white" round>login</v-btn>
              <p class="purpleNeon--text pt-2">Dont have account yet, register <a class="white--text" @click="toRegister()">here</a></p>
              <p class="purpleNeon--text pt-2">Forget password? <a class="white--text" @click="toForgetPass()">here</a></p>
            </form>
        </v-flex>
        </v-layout>
    </v-responsive>
  </v-container>
</div>
</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'
  import { EventBus } from '../event-bus.js'
  import { url } from '../config.js'
  
  Vue.use(VeeValidate)

  export default {
    $_veeValidate: {
      validator: 'new'
    },
    data(){
      return{
        show : false,
        email: '',
        password: '',
        message: '',
        dictionary: {
          attributes: {
            email: 'E-mail Address'
          }
        },
        loading: false,
        alert: false
      }
    },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
    methods: {
      login() {
        this.$validator.validateAll().then((result) => {
          this.loading = true
          var bodyFormData = new FormData()
          bodyFormData.set('email', this.email)
          bodyFormData.set('password', this.password)

          var that = this
          this.$http.post(url + 'api/login', bodyFormData, 
            {headers: {'Accept': 'application/json'}}, {crossDomain: true})
            .then(function(response){
              that.loading = false
              if(response.data.status){
                that.$store.dispatch('setUser', response.data.data).then(() => {
                that.$router.push('/home')
                })
              }
              else
                {
                  that.message = 'Invalid Login or password'
                  that.password = ''
                  that.alert = true
                }
            })
            .catch(err => console.log(err))
          })
      },
      toRegister(){
        this.$router.push('/register')
      },
      toForgetPass(){
        this.$router.push('/forgetpassword')
      }
    }
  }
</script>

<style>
  .test {
      opacity: 0.85;
  }
</style>