<template>
  <div class="home">
    <v-progress-linear
      v-if="loading"
      height="2"
      :indeterminate="true"
      color="white"
      class="mb-2"
    ></v-progress-linear>
    <v-container class="py-0">
      <v-subheader class="title white--text">
        Artists
      </v-subheader>
      <v-layout row wrap>
        <v-flex 
          v-for="artist in artists" 
          :key="artist.id" 
          xs6 sm4 md2 
          class="px-2"
        >
          <v-hover>
            <v-card 
              flat 
              class="text-xs-center" 
              color="transparent" 
              slot-scope="{ hover }" 
              @click="songByArtist(artist)"
            >
              <v-responsive>
                <v-avatar size="150">
                  <v-img 
                    :src="artist.image" 
                    alt="lorem" 
                    aspect-ratio="1"
                    class="grey darken-2"
                  >
                    <template v-slot:placeholder>
                      <v-layout
                        fill-height
                        align-center
                        justify-center
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                    </template>
                    <v-expand-transition>
                      <div
                        v-if="hover"
                        class="hoverblack d-flex"
                      >
                      </div>
                    </v-expand-transition>
                  </v-img>
              </v-avatar>
              </v-responsive>
              <v-card-text class="py-2">
                <a class="subheading white--text">{{artist.name}}</a> 
              </v-card-text>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
      <v-subheader class="title white--text">
        Your playlist
      </v-subheader>
      <v-layout row wrap>
        <v-flex xs6 sm4 md2 class="px-2">
          <v-card flat class="dotborder" color="transparent">
            <v-responsive :aspect-ratio="1">
              <v-card-actions class="justify-center align-center fill-height">
                  <AddPlaylistModal/>
              </v-card-actions>
            </v-responsive>
          </v-card>
          <div class="subheading pt-2 text-xs-center white--text">New playlist</div>
        </v-flex>
        <v-flex v-for="playlist in playlists" :key="playlist.id" xs6 sm4 md2 class="px-2">
          <v-hover>
            <v-card 
              flat 
              class="text-xs-center" 
              color="transparent" 
              slot-scope="{ hover }" 
              @click="songByPlaylist(playlist)"
            >
              <v-img 
                :src="playlist.image" 
                alt="lorem" 
                aspect-ratio="1"
                class="grey darken-2"
              >
                <template v-slot:placeholder>
                  <v-layout
                    fill-height
                    align-center
                    justify-center
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-layout>
                </template>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="hoverblack d-flex"
                  >
                  </div>
                </v-expand-transition>
              </v-img>
              <v-card-text class="py-2">
                <a class="subheading white--text">{{playlist.title}}</a>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import AddPlaylistModal from '@/components/AddPlaylistModal'
import { EventBus } from '../event-bus.js'
import { url } from '../config.js'

export default {
  components: {AddPlaylistModal},
  data(){
    return{
      artists: [],
      playlists: [],
      loading: true
    }
  },
  created: function(){
    this.getArtist(),
    this.getPlaylist()
  },
  mounted: function(){
    var that=this
    EventBus.$on('updatePlaylist', function(){
      that.getPlaylist()
    })
  },
  methods: {
    getArtist(){
      this.$http.get(url + 'api/artist', {
      crossDomain: true}).then( ({ data }) => {
        this.loading = false
        this.artists = data.data.slice(0,5)
      })
    },
    getPlaylist(){
      this.$http.get(url + 'api/playlist?userId=' + this.$store.getters.userId, {
      crossDomain: true}).then( ({ data }) => {
      this.playlists = data.data
      EventBus.$emit('getPlaylistList', this.playlists)
      })
    },
    songByArtist(artist){
      this.$store.dispatch('setId', artist.id).then(() => {
        this.$router.push('/artist')
      })
    },
    songByPlaylist(playlist){
      this.$store.dispatch('setText', playlist.title)
      this.$store.dispatch('setImage', playlist.image)
      this.$store.dispatch('setId', playlist.id).then(() => {
        this.$router.push('/detailplaylist')
      })
    }
  }
}
</script>



