<template>
  <div class="popularsongs">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
    <v-container>
      <h1 class="title mb-3 white--text">Top popular songs</h1>
       <v-list-tile
          class="px-3 py-2 tile" 
          v-for="track in popular" 
          :key="track.songs.id" 
          :class="[{selected: track === selectedTrack}]"
          @click="selectTrack(track)"
        >
          <v-layout align-center justify-end row fill-height>
            <v-flex class="md10">
              <v-layout row wrap>
                <v-flex class="md1">
                  <v-list-tile-action>
                    <v-icon dark>music_note</v-icon>
                  </v-list-tile-action>
                </v-flex>
                <v-flex class="md11">
                  <v-list-tile-content v-if="track.songs.status != '-1'">
                    <v-list-tile-title class="white--text subheading">{{track.songs.title}}</v-list-tile-title>
                    <v-list-tile-sub-title class="white--text font-weight-light">{{track.songs.artist.name}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-content v-if="track.songs.status != '0'">
                    <v-list-tile-title class="grey--text subheading">{{track.songs.title}}</v-list-tile-title>
                    <v-list-tile-sub-title class="grey--text font-weight-light">{{track.songs.artist.name}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex class="md2">
              <v-layout row>
                <v-flex class="md2">
                  <v-tooltip left>
                  </v-tooltip>
                  </v-flex>
                <v-flex class="md6 text-xs-center ">
                  <v-icon dark small>headset</v-icon>
                  <span class="white--text body-1 font-weight-light">{{track.songs.playcount}}</span>
                </v-flex>
                <v-flex class="md4">
                  <span class="white--text body-1 font-weight-light">03:20</span>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-list-tile>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'
import { url } from '../config.js'

export default {
  data(){
    return{
      popular: [],
      allPopular: [],
      selectedTrack: null,
      loading: true
    }
  },
  created: function(){
    this.getPopular()
  },
  mounted: function(){
    var that = this
    EventBus.$on('background', function(index){
      that.selectedTrack = that.allPopular[index]
    })
  },
  methods:{
    getPopular(){
      this.$http.get(url + 'api/log/count', {
      crossDomain: true}).then( ({ data }) => {
        this.loading = false
        this.allPopular = data.data
        this.allPopular.forEach((item)=> {
          if(item.songs.status == 0){
            this.popular.push(item)
          }
        })
      })
    },
    selectTrack(track) {
      this.selectedTrack = track
      EventBus.$emit('selectinplaylist', track, this.popular)
    },
    // not used
    getDuration(src) {
      return new Promise(function(resolve) {
          var audio = new Audio()
          $(audio).on("loadedmetadata", function(){
              resolve(audio.duration)
          })
          audio.src = src
      })
    } 
  }
}
</script>