<template>
  <div class="profile">
    <v-container>
      <v-snackbar v-model="snackbar" :timeout="3000" top color="success">
        <span>{{message}}</span>
      </v-snackbar>
      <v-layout align-center justify-center fill-height>
        <v-flex row wrap xs6 sm4 md2>
          <form @submit.prevent="validateBeforeSubmit">
            <v-responsive>
              <v-avatar size="180" class="mb-3 white">
                <v-img :src="image" alt="lorem" aspect-ratio="1"/>
              </v-avatar>
            </v-responsive>
            <h1 class="white--text text-xs-center">{{name}}</h1>
            <v-btn block round route :to="'/profile/editprofile'" class="purplepink white--text mt-5">Edit Profile</v-btn>
            <v-btn block round route :to="'/profile/changepassword'" class="purplepink white--text mt-3">Change Password</v-btn>
            <LogoutDialog/>
          </form>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'
import LogoutDialog from '@/components/LogoutDialog'
import { url } from '../config.js'

export default {
  components: {LogoutDialog},
  data(){
    return{
      name: '',
      image: '',
      snackbar: false,
      message: 'Account has been updated'
    }
  },
  created: function(){
    this.name =  this.$store.getters.userName
    this.image = this.$store.getters.userImage
    this.getDuration("http://fs1.imglov.com/server1/9/7668132415d55622d8621f.mp3?t=WSVFS39Qbs3uy_FknThtVw&expires=1565972672&title=SHAUN - To Be Loved.mp3")
    .then(function(length) {
        document.getElementById("duration").textContent = length;
    });
  },
  mounted: function(){
    EventBus.$on('showSnack', function(){
      this.snackbar = true
    })
  },
  methods: {
    // not used
    getDuration(src) {
      return new Promise(function(resolve) {
        var audio = new Audio()
        $(audio).on("loadedmetadata", function(){
            resolve(audio.duration)
        })
        audio.src = src
      })
    }
  }
}
</script>
