<template>
  <div class="register concert">
    <v-progress-linear
      v-if="loading"
      height="2"
      :indeterminate="true"
      color="white"
      class="mb-2"
    ></v-progress-linear>
    <v-alert
      v-model="alert"
      type="error"
      dismissible
    >
    {{message}}
    </v-alert>

    <v-container fluid ma-0 pa-0 fill-height>
      <v-responsive>
          <v-layout align-center justify-center fill-height>
            <v-flex xs10 md5>
              <form @submit.prevent="validateBeforeSubmit" class="black transparan py-4 px-5">
                <h1 class="display-1 white--text text-xs-center mb-3">Register</h1>
                <v-label dark>Your email</v-label>
                <v-text-field
                  v-model="email"
                  v-validate="'email'"
                  :error-messages="errors.collect('email')"
                  label="E-mail"
                  data-vv-name="email"
                  required
                  outline
                  solo 
                  class="mt-1"
                  dark
                  color="white"
                  autofocus
                ></v-text-field>
                <v-label dark>Your name</v-label>
                <v-text-field
                  v-model="name"
                  counter
                  :error-messages="errors.collect('name')"
                  label="Name"
                  data-vv-name="name"
                  required
                  outline
                  solo
                  dark
                  color="white"
                  class="mt-1"
                ></v-text-field>
                <v-label dark>Create a password</v-label>
                <v-text-field
                  v-model="password"
                  v-validate="'min:6'"
                  counter
                  :error-messages="errors.collect('password')"
                  label="Password"
                  data-vv-name="password"
                  required
                  :append-icon="show ? 'visibility' : 'visibility_off'"
                  :type="show ? 'text' : 'password'"
                  @click:append="show = !show"
                  outline
                  solo
                  dark
                  color="white"
                  class="mt-1"
                ></v-text-field>
                <v-btn type="submit" class="white" round>register</v-btn>
                <p class="purpleNeon--text pt-2">Already have account , login <a class="white--text" @click="toLogin()">here</a></p>
              </form>
            </v-flex>
          </v-layout>
      </v-responsive>
    </v-container>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'
  import { EventBus } from '../event-bus.js'
  import { url } from '../config.js'
  
  Vue.use(VeeValidate)

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    data: () => ({
      show: false,
      name: '',
      email: '',
      password: '',
      datvalue: 0,
      message: '',
      loading: false,
      alert: false
    }),
    mounted: function() {
      this.$validator.localize('en', this.dictionary)
    },
    methods: {
      validateBeforeSubmit() {
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.loading = true
            var bodyFormData = new FormData()
            bodyFormData.set('email', this.email)
            bodyFormData.set('password', this.password)
            bodyFormData.set('name', this.name)

            var that = this
            this.$http.post(url + 'api/register', bodyFormData, 
            {headers: {'Accept': 'application/json'}}, {crossDomain: true})
              .then(function (response) {
                that.loading = false
                if(response.data.status == true){
                 that.$store.dispatch('setUser', response.data.data).then(() => {
                    that.$router.push('/home')
                 })
                }
                else
                  if(response.data.message == 'Email sudah terdaftar, silahkan coba email lain'){
                    that.message = 'Email has been registered, please try another'
                    that.email = ''
                    that.name = ''
                    that.password = ''
                    that.alert = true
                  }
              })
              .catch(function (error) {
                console.log(error)
              })
          }
        })
      },
      toLogin(){
        this.$router.push('/login')
      }
    }
  }
</script>