<template>
  <div class="search">
    <v-progress-linear
      v-if="loading"
      color="white"
      height="2"
      :indeterminate="true"
    ></v-progress-linear>
    <v-container>
      <v-text-field
        solo
        label="Search by songs, artists and playlists"
        clearable
        outline
        flat
        color="white"
        dark
        v-model="searchString"
        required
        v-on:keyup.enter="search"
      >
      </v-text-field>
      
      <v-subheader class="headline white--text">{{textTitle}}</v-subheader>
      <!-- artist -->
      <v-subheader class="title white--text" v-if="this.artists.length > 0">Artist</v-subheader>
      <v-layout row wrap>
        <v-flex 
          v-for="artist in artists" 
          :key="artist.id" 
          xs6 sm4 md2 
          class="px-2"
        >
          <v-hover>
            <v-card 
              flat 
              class="text-xs-center" 
              color="transparent" 
              slot-scope="{ hover }" 
              @click="songByArtist(artist)"
            >
              <v-responsive>
                <v-avatar size="150">
                  <v-img 
                    :src="artist.image" 
                    alt="lorem" 
                    aspect-ratio="1"
                    class="grey darken-2"
                  >
                    <template v-slot:placeholder>
                      <v-layout
                        fill-height
                        align-center
                        justify-center
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                    </template>
                    <v-expand-transition>
                      <div
                        v-if="hover"
                        class="hoverblack d-flex"
                      >
                      </div>
                    </v-expand-transition>
                  </v-img>
              </v-avatar>
              </v-responsive>
              <v-card-text class="py-2">
                <a class="subheading white--text">{{artist.name}}</a> 
              </v-card-text>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>

      <!-- song -->
      <v-subheader class="title white--text" v-if="this.results.length > 0">Song</v-subheader>
      <v-list-tile
        class="px-3 py-2 tile" 
        v-for="track in results" 
        :key="track.id" 
        :class="[{selected: track === selectedTrack}]"
        @click="selectTrack(track)"
      >
        <!-- styling song list -->
        <v-layout align-center justify-end row fill-height>
          <v-flex class="md10">
             <v-layout row wrap>
              <v-flex class="md1">
                <v-list-tile-action>
                  <v-icon dark>music_note</v-icon>
                </v-list-tile-action>
              </v-flex>
              <v-flex class="md11">
                <v-list-tile-content v-if="track.status != '-1'">
                  <v-list-tile-title class="white--text subheading">{{track.title}}</v-list-tile-title>
                  <v-list-tile-sub-title class="white--text font-weight-light">{{track.artist.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content v-if="track.status != '0'">
                  <v-list-tile-title class="grey--text subheading">{{track.title}}</v-list-tile-title>
                  <v-list-tile-sub-title class="grey--text font-weight-light">{{track.artist.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-flex>
             </v-layout>
          </v-flex>
          <v-flex class="md2">
            <v-layout row>
              <v-flex class="md2">
                <v-tooltip left>
                </v-tooltip>
                </v-flex>
              <v-flex class="md6 text-xs-center ">
                <v-icon dark small>headset</v-icon>
                <span class="white--text body-1 font-weight-light">{{track.playcount}}</span>
              </v-flex>
              <v-flex class="md4">
                <span class="white--text body-1 font-weight-light"> 03:20</span>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-list-tile>

      <!-- playlist -->
      <v-subheader class="title white--text" v-if="this.playlists.length > 0">Playlist</v-subheader>
      <v-layout row wrap>
          <v-flex v-for="playlist in playlists" :key="playlist.id" xs6 sm4 md2 class="px-2">
            <v-hover>
              <v-card 
                flat 
                class="text-xs-center" 
                color="transparent" 
                slot-scope="{ hover }" 
                @click="songByPlaylist(playlist)"
              >
                <v-img 
                  :src="playlist.image" 
                  alt="lorem" 
                  aspect-ratio="1"
                  class="grey darken-2"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="hoverblack d-flex"
                    >
                    </div>
                  </v-expand-transition>
                </v-img>
                <v-card-text class="py-2">
                  <a class="subheading white--text">{{playlist.title}}</a>
                </v-card-text>
              </v-card>
            </v-hover>
          </v-flex>
        </v-layout>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'
import { url } from '../config.js'

export default {
  data(){
    return{
      searchString: '',
      results: [],
      artists: [],
      playlists: [],
      recently: [] ,
      textArtists: '',
      textPlaylists: '',
      textSongs: '',
      recentSongs: [],
      recentArtist: [],
      recentPlaylists: [],
      selectedTrack: null,
      textTitle: '',
      loading: false
    }
   },
   created: function(){
     var that = this
     this.$http.get(url + 'api/search_log/' + this.$store.getters.userId, {
      crossDomain: true})
      .then(function(response){
        that.loading = false
        if(response.data.data.length > 0){
          that.textTitle = 'Recently search'
          that.recently = response.data.data
          that.recently.forEach((item) => {
            if(item.songs != null){
              that.results.push(item.songs)
              that.textSongs = "Songs"
            }
            if(item.artist != null){
              that.artists.push(item.artist)
              that.textArtists = "Artists"
            }
            if(item.playlist != null){
              that.playlists.push(item.playlist)
              that.textPlaylists = "Playlists"
            }
          })
        }
      })
   },
   methods: {
    search(){
      if(this.searchString.length !=0){
        var that = this
        that.loading = true
        that.recently= []
        that.artists=[]
        that.playlists=[]
        that.results=[]
        //search song
        this.$http.get(url + 'api/song/search?title=' + that.searchString, {
        crossDomain: true})
        .then(function(response){
          that.loading = false
          if(response.data.status){
            response.data.data.forEach((item)=>{
              if(item.status == 0)
                that.results.push(item)
            })
            that.textTitle = 'Result'
          }
          else{
            that.results = []
          }
        })                
        //search artist
        this.$http.get(url + 'api/artist/search?title=' + that.searchString, {
        crossDomain: true})
        .then(function(response){
          if(response.data.status){
            response.data.data.forEach((item)=>{
              if(item.status == 0)
                that.artists.push(item)
            })
            that.textTitle = 'Result'
          }
          else{
            that.artists = []
          }
        })
        //search playlist
        this.$http.get(url + 'api/playlist/'+ this.$store.getters.userId + '/search?title=' + that.searchString, {
        crossDomain: true})
        .then(function(response){
          if(response.data.status){
            that.playlists = response.data.data
            that.textTitle = 'Result'
          }
          else{
            that.playlists = []
          }
        })
      }
      else{
        this.results = []
      }
    },
    songByArtist(artist){
      this.$store.dispatch('setId', artist.id).then(() => {
        this.$router.push('/artist')
      })
      var bodyFormData = new FormData()

      bodyFormData.set('id_user', this.$store.getters.userId)
      bodyFormData.set('id_artist', artist.id)
      this.$http.post(url + 'api/add/search_log', bodyFormData,
      {headers: {'Accept': 'application/json'}}, {crossDomain: true})
    },
    songByPlaylist(playlist){
      this.$store.dispatch('setText', playlist.title)
      this.$store.dispatch('setImage', playlist.image)
      this.$store.dispatch('setId', playlist.id).then(() => {
        this.$router.push('/detailplaylist')
      })
      var bodyFormData = new FormData()

      bodyFormData.set('id_user', this.$store.getters.userId)
      bodyFormData.set('id_playlist', playlist.id)

      this.$http.post(url + 'api/add/search_log', bodyFormData,
      {headers: {'Accept': 'application/json'}}, {crossDomain: true})
    },
    selectTrack(track) {
      this.selectedTrack = track
      EventBus.$emit('selecttrack', track)

      // add search log
      var bodyFormData = new FormData()
      bodyFormData.set('id_user', this.$store.getters.userId)
      bodyFormData.set('id_song', track.id)
      this.$http.post(url + 'api/add/search_log', bodyFormData,
      {headers: {'Accept': 'application/json'}}, {crossDomain: true})
    }
   }
}
</script>

