<template>
    <v-dialog v-model="dialog" max-width="600px" persistent>
        <v-icon slot="activator" class="white--text" x-large>add</v-icon>
        <v-card class="black">
            <v-card-title>
                <h2 class="white--text">Add playlist</h2>
            </v-card-title>
            <v-layout row wrap align-center>
                <v-flex xs6 md3 class="mx-5 white">
                    <v-img :src="image_url" alt="lorem" aspect-ratio="1" >
                    </v-img>
                </v-flex>
                <v-flex xs6 md4>
                    <v-btn @click="onPickFile" outline round dark>Change</v-btn>
                    <input
                        type="file" 
                        style="display:none" 
                        ref="fileInput" 
                        accept="image/*"
                        @change="onFilePicked"
                    >
                    <v-progress-circular
                        v-if="loading"
                        :width="3"
                        color="white"
                        indeterminate
                    ></v-progress-circular>
                </v-flex>
            </v-layout>
            <v-card-text>
                <v-form 
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    class="px-3"
                    onsubmit="return false;">
                    <v-text-field
                        label="Your playlist name"
                        clearable
                        flat
                        outline
                        color="white"
                        dark
                        v-model="name"
                        required
                        :rules="nameRules"
                        >
                    </v-text-field>
                    <v-btn depressed round outline dark @click="cancel">Cancel</v-btn>
                    <v-btn :disabled="!valid" depressed round @click="submit" class="purplepink white--text">Create</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import { EventBus } from '../event-bus.js'
import { url } from '../config.js'

export default {
    data(){
        return{
            valid: true,
            name: '',
            dialog: false,
            nameRules: [
                v => !!v || 'Name is required'
            ],
            image: null,
            image_url : 'https://cdn.dribbble.com/users/29051/screenshots/2515769/icon.png',
            loading: false,
            playlist: [],
            status: true
        }
    },
     mounted: function(){
      var that = this
      EventBus.$on('getPlaylistList', function(playlist){
        that.playlist = playlist
      })
    },
    methods:{
        submit(){
            if (this.$refs.form.validate()) {
                this.playlist.forEach((item)=> {
                    if(this.name == item.title){
                        alert('Nama tidak bole sama')
                        this.status = false
                        this.reset()
                    } 
                })
                if(this.status == true){
                    var bodyFormData = new FormData()
                    bodyFormData.set('title', this.name)
                    bodyFormData.set('image', this.image_url)  
                    this.$http.post(url + 'api/add/playlist/' + this.$store.getters.userId, bodyFormData, 
                    {headers: {'Accept': 'application/json'}}, {crossDomain: true})
                    .then(function(){
                        EventBus.$emit('updatePlaylist')
                    })
                }
                this.reset()
            }
        },
        onPickFile (){
            this.$refs.fileInput.click()
        },
        onFilePicked (event) {
            const files = event.target.files
            let filename = files[0].name
            if (filename.lastIndexOf('.') <= 0) {
            return alert('Please add a valid file!')
            }
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
            this.imageUrl = fileReader.result
            })
            fileReader.readAsDataURL(files[0])
            this.image = files[0]
            this.imageToUrl()
        },
        imageToUrl(){
            this.loading = true
            var bodyFormData = new FormData()
            bodyFormData.set('images', this.image)  
            const token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjI3N2FlMjZkYTEzODUxYzNmYTA1YTA2Mjk0ZWM3NjVhYjgzYmUwNzUyY2I2ZjJiOGQzMmEzZWRmNDgxODIyMzUxYThiMTM0NDY0OWM2OWFlIn0.eyJhdWQiOiIyMiIsImp0aSI6IjI3N2FlMjZkYTEzODUxYzNmYTA1YTA2Mjk0ZWM3NjVhYjgzYmUwNzUyY2I2ZjJiOGQzMmEzZWRmNDgxODIyMzUxYThiMTM0NDY0OWM2OWFlIiwiaWF0IjoxNTY0NDc1MjU5LCJuYmYiOjE1NjQ0NzUyNTksImV4cCI6MTg4MDA5NDQ1OSwic3ViIjoiOSIsInNjb3BlcyI6W119.VK368t1zrGSRRRJ6FM8LJcMygsTTLAVlINkLhTdIIEwYOPTQjD0NapIA0zy_35ynQroWK19BT-1GiqvMbNPicTDoqNrQqu38JYxBKmhEgB9imxwvrIlQ8CQqpDfALBvM___oAgJiuJbCCaLJpnw1mnxY1QNVvde6Ba19zoufQxoGk_yLd8IFZ_kvMH6o4bzx0thv2-fTi6gdvAph3ui63B-6Aiqfo6etzEy2vopD7Z1Wmzqv9Us_NueJtlMaKqOzBx_HmoNt3w0IL3hILdFXWjafPsaNQ-BQM77XT8wLWiwKcVTzpq1m90t1kf-zk224fdYfetTBkjv-sDCX-u6nYZ9HUXVOE-WYy2oB4IyaYz8spsP3NnjGDj_sbiql9eeaA2opr7W3dQleib7VZyxUPyys1RtGwU8V3JMmPteqG0PB8Z6cppQsP5KuWZDTBuqGWmLA5WlheiQxdpwqASdVh_TPyF6yM3AvxpSMFGZSi6leJj8STwB4ufq3TuXjDzrn96yD2r4HJ3QONubdC1YzhrV2zwhIdS34Hjeo5xjUjkxat4128AukP21DHgSfyINCwh4tA9aMAL-DXlKRxRuVBoqv8wf6jMnGb5k2ecAXOM3MZ11et7kLCk2g4LYCmXYaZzF9dAOQ8d8-X4Y-IUg-CKBhMVpfG9GIeony9T2QELQ'

            this.$http.post('https://www.sariputta.com/api/upload', bodyFormData, 
              {headers: {'Authorization': "Bearer " + token}}, {crossDomain: true})
            .then( ({ data }) => {
                this.loading = false
                this.image_url = data.data.path
             })
        },
        cancel(){
            this.reset()
        },
        reset () {
            this.$refs.form.reset()
            this.image_url = 'https://cdn.dribbble.com/users/29051/screenshots/2515769/icon.png',
            this.dialog = false
        }
    }
}
</script>

