<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="390">
      <template v-slot:activator="{ on }">
        <v-btn block round class="white--text mt-4" outline v-on="on">Logout</v-btn>
      </template>
      <v-card class="black pa-2">
        <v-card-title class="subheading white--text">Do you really want to logout?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed round outline dark @click="dialog = false">Cancel</v-btn>
          <v-btn depressed round class="purplepink white--text" @click="logout" >Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { EventBus } from '../event-bus.js'
  export default {
    data () {
      return {
        dialog: false,
      }
    },
    methods: {
      logout(){
        this.$store.dispatch('removeUser').then(() => {
          EventBus.$emit('stopTrack')
          this.$router.push('/')
        })
      }
    }
  }
</script>