<template>
    <nav>      
        <v-toolbar 
            flat 
            app
            class="grey darken-4"
        >
            <v-toolbar-side-icon 
                class="white--text hidden-lg-and-up" 
                @click="drawer = !drawer"
            >
            </v-toolbar-side-icon >
            <v-img
                :src="require('@/assets/logo loop/loop_logo.svg')"
                max-width="100"
            >
            </v-img>
        </v-toolbar>

        <v-navigation-drawer 
            v-model="drawer"
            app
            floating
            persistent
            width="210"
            class="black"
        >
            <v-list>
                <v-list-tile 
                    v-for="link in links" 
                    :key="link.text"  
                    :to="link.route" 
                    active-class="purplepink"
                >
                    <v-list-tile-action>
                        <v-icon medium class="pl-2 white--text">{{link.icon}}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="subheading white--text" v-text="link.text"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
export default {
   data(){
       return{
           drawer: true,
           links:[
               {icon:'home', text:'Home', route: '/home'},
               {icon:'search', text:'Search', route: '/search'},
               {icon:'list', text:'Playlist', route: '/playlist'},
               {icon:'account_circle', text:'Profile', route: '/profile'}
           ]
       }
   }
}
</script>

