<template>
  <v-app class="grey darken-4">
    <Navbar v-if='showMenu'></Navbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <Player v-if='showMenu'></Player>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'
import Player from '@/components/Player'
import axios from 'axios'

export default {
  name: 'App',
  components: {Navbar, Player},
  data () {
    return {
      //
    }
  },
  computed:{
    showMenu() {
        return this.$route.name !== 'landing' && this.$route.name !== 'register' && this.$route.name !== 'login' && this.$route.name !== 'forgetpassword';
    }
  }
}
</script>
