.purplepink {
    background-image: linear-gradient(to right, #9E37F8,#D81B60);
}
.hoverblack {
    background-color: black!important;
    opacity: 0.55;
    height: 100%
}
.transparan {
    opacity: 0.85;
}
.dotborder{
    border: 2px dashed rgb(102, 102, 102)!important;
}
.selected {
    background-color:  black !important;
}
.selected_home {
    background-color: black!important;
}
.concert{
    background-image: url('assets/concert.jpg') ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
}

.tile:hover {
    background-color: #424242 !important;
}
